.section-profile {
  display: flex;
  height: 50vh;
  justify-content: center;
  align-items: center;

  background-image: url(../../static/quit-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  
}

.form {
  padding: 0 20px;
}

label {
  color: #151515;
}