.section-profile {
  background-image: url(../../static/quit-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  display: flex;
  height: 50vh;
  justify-content: center;
  align-items: center;
}

.form {
  padding: 0 20px;
}

label {
  color: #151515;
}

input[type="submit"] {
  margin-top: 30px;
}