.Widget {
  font-size: 20px;
  width: 250px;
  display: table-cell;
}

.Widget img {
  width: 200px;
  height: 150px;
}

.Widget .details {
  padding: 10px;
}

@media screen and (max-width: 680px) {
  .Widget {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}